<%= render partial: 'application/feature_detection' %>
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Sign In</legend>
  <%= form_with scope: :session, url: session_path, local: false, id: "new-session",
    data: { controller: "new-session",
    action: "ajax:success->new-session#create ajax:error->new-session#error" } do |form| %>
    <div data-controller="textfield" data-target="new-session.usernameField">
      <%= form.text_field :username, class: "input mdc-text-field__input", placeholder: "Username", required: true, autocapitalize: "none", "aria-controls" => "username-helper-text" %>
    </div>

    <div class="mdc-text-field-helper-line">
      <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">
      </div>
    </div>
    <%= form.submit "Sign in using WebAuthn", class: "btn btn-neutral mt-4" %>
  <% end %>
  <%= link_to 'Register', new_registration_path, class: "btn btn-neutral mt-4" %>
  <%= render partial: 'application/js_error' %>
</fieldset>