<%= turbo_frame_tag "new_message" do %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4" data-controller="image-compressor">
    <%= form_with(model: [@challenge_story, @challenge_check_in], class: "contents") do |form| %>
      <% if @challenge_check_in.errors[:base].any? %>
        <div class="alert alert-error mb-4">
          <span><%= @challenge_check_in.errors[:base].first %></span>
        </div>
      <% end %>

      <%= 
        form.text_area :message,
        class: ["textarea", {"border-gray-400 focus:outline-blue-600 w-full": @challenge_check_in.errors[:message].none?, "border-red-400 focus:outline-red-600": @challenge_check_in.errors[:message].any?}],
        id: "message",
        placeholder: "check in report, this cannot be edited later!",
        required: true
      %>
      <p class="text-xs text-red-300 mt-1">Cannot be changed later!</p>

      <%= 
        form.file_field :photo,
        class: "file-input",
        accept: "image/*",
        data: { 
          image_compressor_target: "input",
          action: "change->image-compressor#compress"
        }
       %>

      <% if @challenge_check_in.errors[:photo].any? %>
        <div class="alert alert-error mt-2">
          <span><%= @challenge_check_in.errors[:photo].first %></span>
        </div>
      <% end %>

      <div class="inline">
        <%= form.submit class: "btn btn-soft btn-secondary", id: "submit"%>
      </div>
      <div class="alert hidden mt-2" data-image-compressor-target="status">
        <span></span>
      </div>

    <%end%>
  </fieldset>
<% end %>
