<div class="mt-28">
  <%= render partial: 'webauthn/alerts/feature_detection' %>

  <div class="flex flex-col gap-4 max-w-xs">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
      <legend class="fieldset-legend">Sign In with Passkey</legend>
      <%= form_with scope: :session, url: webauthn_session_path, id: "new-session",
      data: { controller: "new-session", turbo: false,
      action: "submit->new-session#submit" } do |form| %>
        <div class="mdc-text-field mdc-text-field--fullwidth" data-controller="textfield" data-new-session-target="usernameField">
          <%= form.text_field :username, class: "input mdc-text-field__input", placeholder: "Username", required: true, autocapitalize: "none", "aria-controls" => "username-helper-text" %>
        </div>

        <div class="mdc-text-field-helper-line">
          <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">
          </div>
        </div>
        <%= form.submit "Sign in with Passkey", class: "btn btn-primary mt-4 w-full" %>
      <% end %>

      <%= render partial: 'application/js_error' %>

      <%= link_to 'Register Instead', new_webauthn_registration_path(return_to: session[:return_to]), class: "btn btn-secondary mt-4" if session[:return_to] %>
      <%= link_to 'Register Instead', new_webauthn_registration_path, class: "btn btn-secondary mt-2" unless session[:return_to] %>

      <%= link_to "Sign in with email", new_email_session_path, class: "btn btn-neutral w-full mt-3" %>
    </fieldset>
  </div>

</div>