<div id="<%= dom_id challenge_comment %>" 
  class="<%= current_user == challenge_comment.challenge_participant.user ? 'chat chat-end' : 'chat chat-start' %>"
>
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <%= image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(challenge_comment.challenge_participant.name)}?s=80&d=identicon", alt: 'avatar', class: "rounded-full" %>
    </div>
  </div>
  <div class="chat-header">
    <%=  challenge_comment.challenge_participant.name %>
    <time class="text-xs opacity-50">
      <%=  challenge_comment.created_at.to_fs(:short) %>
    </time>
  </div>
  <div class="chat-bubble">
    <%= simple_format(challenge_comment.message) %>
    <%= cl_image_tag(challenge_comment.photo.key, height: 300, width: 400, crop: :fill) if challenge_comment.photo.attached?%>
  </div>
</div>