<%= turbo_frame_tag "new_message" do %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
    <%= form_with(model: [@challenge_story, @challenge_comment], class: "contents") do |form| %>
      <% if @challenge_comment.errors[:base].any? %>
        <div class="alert alert-error mb-4">
          <span><%= @challenge_comment.errors[:base].first %></span>
        </div>
      <% end %>

      <%= 
        form.text_area :message,
        class: ["textarea", {"border-gray-400 focus:outline-blue-600 w-full": @challenge_comment.errors[:message].none?, "border-red-400 focus:outline-red-600": @challenge_comment.errors[:message].any?}],
        id: "message",
        placeholder: "check in report, this cannot be edited later!",
        required: true
      %>

      <%= 
        form.file_field :photo,
        class: "file-input",
        data: { action: "image-compress#compress", image_compress_target: "input" }, 
        accept: "image/*"
       %>

      <% if @challenge_comment.errors[:photo].any? %>
        <div class="alert alert-error mt-2">
          <span><%= @challenge_comment.errors[:photo].first %></span>
        </div>
      <% end %>

      <img data-image-compress-target="preview" class="w-32 h-32 object-cover" hidden>
      <input type="hidden" name="proof[compressed_image]" data-image-compress-target="hiddenInput">

      <div class="inline">
        <%= form.submit class: "btn btn-soft btn-secondary", id: "submit"%>
      </div>

    <%end%>
  </fieldset>
<% end %>
