<%= render partial: 'application/feature_detection' %>

<div class="mt-28">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">
        Credentials - <%= current_user.username %>
      </legend>
      <% current_user.credentials.each do |credential| %>
        <% if current_user.can_delete_credentials? %>
          <div class="join">
            <input type="text" class="input join-item" placeholder=<%= credential.nickname %> />
            <%= button_to  credential, method: :delete, data: { turbo_confirm: "Are you sure?" }  do %>
              <button class="btn join-item">Delete</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div data-controller="add-credential">
        <%= form_with scope: :credential, url: credentials_path, local: false, data: { action: "ajax:success->add-credential#create" } do |form| %>
          <div data-controller="textfield">
            <%= form.text_field :nickname, class: "input", placeholder: "Device Key nickname", required: true %>
          </div>
          <%= form.submit "Add Security Key", class: "btn btn-neutral mt-4 w-full" %>
        <% end %>
      </div>
      <%= render partial: 'application/js_error' %>
    </fieldset>

    <div class="text-center mt-4">
      <%= link_to "Sign Out", session_path, method: :delete, class: "btn btn-error" %>
    </div>
  </div>
