<div id="<%= dom_id challenge_story %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= challenge_story.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= challenge_story.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start:</strong>
    <%= challenge_story.start %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Finish:</strong>
    <%= challenge_story.finish %>
  </div>
</div>
