<%= form_with(model: challenge_story, class: "contents") do |form| %>
  <% if challenge_story.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(challenge_story.errors.count, "error") %> prohibited this challenge_story from being saved:</h2>
      <ul class="list-disc ml-6">
        <% challenge_story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": challenge_story.errors[:title].none?, "border-red-400 focus:outline-red-600": challenge_story.errors[:title].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": challenge_story.errors[:description].none?, "border-red-400 focus:outline-red-600": challenge_story.errors[:description].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :start %>
    <%= form.date_field :start, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": challenge_story.errors[:start].none?, "border-red-400 focus:outline-red-600": challenge_story.errors[:start].any?}] %>
  </div>
  <div class="my-5">
    <%= form.label :finish %>
    <%= form.date_field :finish, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": challenge_story.errors[:finish].none?, "border-red-400 focus:outline-red-600": challenge_story.errors[:finish].any?}] %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-soft btn-primary" %>
  </div>
<% end %>
