<% content_for :title, "Challenges" %>
<div class="w-full">

  <h1 class="font-bold text-4xl">Challenges</h1>

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="challenge_stories" class="grid grid-cols-3 gap-4">

    <% if @challenge_stories.any? %>
      <% @challenge_stories.each do |challenge_story| %>
        <div class="card bg-base-100 shadow-sm hover:shadow-lg hover:bg-base-200 transition duration-200">
          <%= link_to challenge_story do %>
            <figure>
              <%= render challenge_story %>
            </figure>

            <div class="card-body">
              <h2 class="card-title">
                <%= challenge_story.title %>
              </h2>
              <p>
                <%= challenge_story.description %>
              </p>
              <%= link_to edit_challenge_story_path(challenge_story) do %>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary">Edit</button>
                </div>
              <% end %>
            </div>

          <% end %>

        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No challenge stories found.</p>
    <% end %>
  </div>
</div>
