<% content_for :title, "Challenges" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>


  <h1 class="font-bold text-4xl">Challenges</h1>

  <div id="challenge_stories" class="grid grid-cols-1 sm:grid-cols-3 gap-4">

    <% if @challenge_stories.any? %>
      <% @challenge_stories.each do |challenge_story| %>
        <div class="card bg-base-100 shadow-sm hover:shadow-lg hover:bg-base-200 transition duration-200">
          <%= link_to challenge_story do %>
            <figure>
              <% if (latest_comment_with_photo = challenge_story.latest_photo_comment) %>
                <%= cl_image_tag(latest_comment_with_photo.photo.key, height: 300, width: 400, crop: :fill, fetch_format: :auto) %>
              <% else %>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
              <% end %>
            </figure>

            <div class="card-body">
              <p>
                <%= render challenge_story %>
              </p>


              <% unless challenge_story.active_participants.exists?(user: current_user) %>
                <%= link_to challenge_participants_path(challenge_story_id: challenge_story.id), method: :post, turbo: true do %>
                  <div class="card-actions justify-end">
                    <turbo-frame id="story-<%= challenge_story.id %>-joining_participant">
                      <button class="btn btn-primary">join</button>
                    </turbo-frame >
                  </div>
                <% end %>
              <% else %>
                <%= link_to 'leave', challenge_participant_path(
                  ChallengeParticipant.find_by(challenge_story: challenge_story, user: current_user) 
                  ), method: :delete, class: 'btn btn-danger' %>
              <% end %>

            </div>
          <% end %>

          <div class="flex items-center gap-2 mt-2 text-sm text-gray-500">
            <div class="flex items-center">
              <%= render 'challenge_stories/likes', challenge_story: challenge_story %>
            </div>

            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
              <%= challenge_story.challenge_comments_count %>
            </div>
          </div>


        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No challenge stories found.</p>
    <% end %>
  </div>
</div>
