<% content_for :title, "Challenges" %>
<div class="w-full">

  <h1 class="font-bold text-4xl">Challenges</h1>

  <div id="challenge_stories" class="grid grid-cols-1 sm:grid-cols-3 gap-4">

    <% if @challenge_stories.any? %>
      <% @challenge_stories.each do |challenge_story| %>
        <div class="card bg-base-100 shadow-sm hover:shadow-lg hover:bg-base-200 transition duration-200 flex flex-col">
          <%= link_to challenge_story, class: "flex-1 flex flex-col" do %>
            <figure>
              <% if (latest_check_in_with_photo = challenge_story.latest_photo_check_in) %>
                <%= cl_image_tag(latest_check_in_with_photo.photo.key, height: 300, width: 400, crop: :fill) %>
              <% else %>
                <img src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp" alt="Shoes" />
              <% end %>
            </figure>

            <div class="flex-1">
              <%= render challenge_story %>
            </div>

          <% end %>

          <div class="flex items-center gap-2 text-l text-gray-500">
            <div class="flex items-center">
              <%= render 'challenge_stories/likes', challenge_story: challenge_story %>
            </div>

            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
              </svg>
              <%= challenge_story.challenge_check_ins_count %>
            </div>
          </div>


        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No challenge stories found.</p>
    <% end %>
  </div>
</div>
