<div class="dock dock-sm">

  <%= link_to root_path, 
    class: current_page?(root_path) ? "dock-active" : "dock",
    id: "challenges-dock-button" do %>
    <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"> </polyline>
        <path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"> </path>
        <line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"> </line>
      </g>
    </svg>
  <% end %>

<%# 
  <svg class="size-[1.5em]" version="1.0" xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 200.000000 200.000000"
 preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)"
fill="purple" stroke="butt">
      <path d="M659 1889 c-12 -7 -7 -28 25 -121 22 -62 44 -116 50 -120 6 -4 17 -1
25 7 12 11 8 30 -25 124 -39 112 -49 126 -75 110z"/>
      <path d="M983 1862 c-17 -10 -66 -151 -59 -169 13 -33 39 -6 68 71 23 65 26
82 16 92 -7 7 -18 10 -25 6z"/>
      <path d="M422 1677 c-15 -18 -6 -29 71 -76 65 -42 97 -47 97 -17 0 11 -136
106 -153 106 -2 0 -9 -6 -15 -13z"/>
      <path d="M1474 1591 c-12 -5 -30 -20 -41 -34 -19 -25 -19 -25 -44 -6 -58 45
-147 7 -170 -72 -12 -39 -12 -39 -33 -20 -31 29 -68 35 -109 17 -41 -17 -62
-52 -98 -163 -12 -40 -26 -73 -29 -73 -3 0 -14 23 -24 51 -33 91 -132 119
-182 51 -8 -11 -14 -5 -28 33 -31 79 -108 109 -162 62 l-26 -23 -33 33 c-44
44 -91 45 -137 4 -27 -24 -32 -36 -32 -72 0 -24 4 -54 8 -66 8 -21 5 -23 -24
-23 -47 0 -90 -47 -90 -97 0 -32 61 -197 147 -401 3 -8 -21 4 -53 25 -94 60
-162 50 -195 -28 -9 -23 -9 -39 0 -69 10 -32 33 -55 149 -148 256 -203 289
-223 399 -238 110 -14 249 41 331 131 l47 51 55 -25 c48 -22 69 -26 160 -26
138 0 171 15 370 176 225 181 230 186 230 243 0 39 -5 53 -29 77 -25 24 -38
29 -78 29 -26 0 -68 -9 -92 -20 -24 -11 -44 -20 -45 -20 -2 0 26 75 60 168 35
92 63 175 64 185 1 60 -67 124 -118 110 -21 -5 -22 -3 -12 21 5 15 10 43 10
61 0 68 -83 122 -146 96z m86 -61 c11 -11 20 -28 20 -37 0 -10 -34 -108 -75
-218 -65 -176 -73 -202 -60 -214 10 -10 18 -12 25 -5 6 6 32 71 59 145 36 98
56 139 75 153 26 20 26 20 54 -1 15 -11 28 -27 30 -36 2 -9 -27 -100 -65 -203
-77 -210 -80 -214 -164 -194 -35 9 -57 8 -90 0 -52 -14 -129 -65 -129 -86 0
-27 28 -26 70 5 52 38 98 47 153 32 40 -12 49 -10 161 34 78 31 127 45 142 41
31 -8 58 -49 49 -75 -8 -28 -338 -295 -404 -328 -76 -38 -182 -42 -271 -11
-71 25 -70 22 -45 108 29 98 17 181 -54 363 l-61 158 39 112 c52 150 49 143
78 156 21 9 30 9 50 -4 13 -9 27 -23 30 -31 3 -8 -14 -69 -37 -135 -31 -86
-40 -123 -32 -131 6 -6 17 -8 24 -5 8 2 42 85 77 183 35 99 70 187 79 197 23
26 68 22 89 -9 16 -25 15 -30 -41 -194 -32 -93 -55 -173 -51 -179 8 -14 32
-14 40 -1 3 5 37 98 75 207 39 109 78 204 87 211 24 18 50 15 73 -8z m-1100
-110 c8 -5 49 -96 90 -202 50 -129 81 -194 91 -196 31 -6 26 24 -27 163 -57
147 -64 184 -39 205 20 17 64 16 80 -1 7 -8 40 -86 74 -174 71 -184 73 -189
93 -193 29 -6 25 23 -17 132 -23 59 -40 117 -37 128 2 10 16 27 29 36 22 14
28 14 50 1 20 -11 44 -62 116 -249 91 -234 92 -235 91 -325 0 -78 -4 -99 -28
-152 -35 -76 -104 -144 -184 -181 -76 -35 -192 -37 -265 -4 -52 23 -61 29
-269 195 -129 101 -138 111 -138 143 0 24 6 38 24 49 28 19 38 15 139 -47 78
-47 101 -56 111 -40 3 5 -35 111 -84 236 -50 125 -90 234 -90 243 0 24 30 53
55 53 34 0 52 -28 102 -156 46 -123 59 -142 80 -121 10 9 -4 54 -62 205 -41
106 -75 199 -75 207 0 21 36 55 58 55 9 0 24 -4 32 -10z"/>
      <path d="M1454 445 c-9 -21 0 -30 71 -70 115 -64 142 -26 30 41 -77 47 -93 51
-101 29z"/>
      <path d="M1275 338 c-3 -7 15 -60 39 -118 33 -79 49 -105 63 -105 29 0 25 24
-20 130 -41 96 -69 128 -82 93z"/>
      <path d="M1081 278 c-43 -114 -47 -180 -9 -165 16 6 63 161 53 176 -11 19 -35
12 -44 -11z"/>
    </g>
  </svg>
 %>

  <% if current_user %>
    <% if (latest_participation = current_user.latest_active_participation) %>
      <%= link_to challenge_story_path(latest_participation.challenge_story, anchor: "new_message"),
        class: "dock",
        id: "new-comment" do %>
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></path>
          <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
          <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
        </svg>
      <% end %>
    <% else %>
      <%= link_to new_challenge_story_path,
        class: "dock",
        id: "new-challenge" do %>
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></path>
          <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
          <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
        </svg>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to challenge_stories_path,
      class: "dock",
      id: "browse-challenges" do %>
      <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></path>
        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""></line>
      </svg>
    <% end %>
  <% end %>

  <%# 
  <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M12 22c1.104 0 2-.896 2-2h-4c0 1.104.896 2 2 2Zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4a1.5 1.5 0 1 0-3 0v.68C7.64 5.36 6 7.93 6 11v5l-2 2v1h16v-1l-2-2Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" />
  </svg> 
  %>

  <%= render "layouts/webauthn" %>
</div>