<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Strivo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <% tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/android-chrome-512x512.png" type="image/png">
    <link rel="icon" href="/takeonme.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag 'favicon.ico' %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <script>
      // Make the VAPID public key available to the client as a Uint8Array
      <% vapid_key = Rails.application.credentials.dig(:web_push, :vapid_public_key) %>
      <% if vapid_key %>
        window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(vapid_key).bytes.to_json %>);
        console.log("VAPID public key loaded for web push notifications.");
      <% else %>
        console.warn("VAPID public key not found in credentials. Web push notifications may not
      <% end %>
    </script>

    <%= render "layouts/navbar" %>
    <div id="content">
      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% else %>
        <main class="container mx-auto mt-5 px-5 pb-20 flex justify-center items-center">
          <%= yield %>
        </main>
      <% end %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
